extends ../layout 
block content 
  .container 
     if video_path 
      .video-box.p-4
        video(src=video_path, type="video/mp4")
     else 
      .card 
        .card-body 
          p Some errors
